<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pragmatometer</title>
    <link rel="stylesheet" type="text/css"
      href="/public/stylesheets/style.css" />

  </head>
  <body>
    <div id="logout"><a href="/logout">Log out</a></div>
    <div id="main"></div>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.js">
    </script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.0.2/showdown.js">
    </script>
    <script src="//cdn.ckeditor.com/4.4.7/basic/ckeditor.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/public/javascripts/json2.js"></script>
    <script src="/public/javascripts/modernizr.js"></script>
    <script src="/public/javascripts/site.js"></script>
  </body>
</html>
